<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Room Booking</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
   <!-- Add additional CSS in static file -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
<!-- Include Date Pickers -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" />

  <!-- Add additional CSS in static file -->
  {% load static %}
  <!--<link rel="stylesheet" href="{% static 'css/styles.css' %}">-->
 <script>
 var csrftoken = '';
 function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});</script> 
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      {% if user.is_authenticated %}
      {% block sidebar %}
       
       <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">Book</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{% url 'viewbookings' %}">View Bookings</a></li>
            <li><a href="{% url 'mybookings' %}">My Bookings</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_superuser %}
              <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
      </nav>

      {% endblock %}
      {% endif %}
    </div>
    <div class="row">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>