{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading"><h1 class="text-center">Booking History</h1></div>
        <div class="panel-body">

            <table class="table" style="width:100%">
                <tr>
                    <th>Booking Date</th>
                    <th>Username</th>
                    <th>Room</th>
                    <th>Period</th>
                    <th></th>
                </tr>
                {% for booking in bookHistory %}
                    <tr>
                        <td>{{ booking.date }}</td> 
                        <td>{{ booking.username}}
                        <td>{{ booking.roomName }}</td>
                        <td>{{ booking.periodName }}</td> 
                        <td>{{ booking.timestamp }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>
{% endblock %}