{% extends "base_generic.html" %}

{% block content %}

<div class="container-fluid">
  <div class="panel panel-default">
  <div class="panel-heading"><h2 class="text-center">{{ displaydate }}</h2></div>
  <div class="panel-body">
   
<table class="table" style="width:100%">
    <tr>
        <th>Room</th>
        {% for period in periods %}
            <th>{{ period.periodName }}</th>
        {% endfor %}
    </tr>
        {% for r in allRooms %}
        <tr>
            <td>{{ r.room.roomName }}</td>
            {% for p in r.periods %}
                {% if p.isBooked > 0 %}
                    <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                {% else %}
                    <td><a href="/booking/find?bookDate={{ bookingDate }}&roomID={{ r.room.roomID }}&periodID={{ p.period.periodID }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>

</div>
        <div class="panel-footer">
        </div>
</div>
</div>

{% endblock %}