<!--Carries over the previous HTML from base_generic.html-->
{% extends "base_generic.html" %}
<!--Fills the content block from base_generic.html-->
{% block content %}

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading"><h2 class="text-center">{{ bookingDate|date }}</h2></div>
    <div class="panel-body">

        <table class="table table-hover" style="width:100%">
            <tr>
                <th>Room</th>
                <th>Period</th>
                <th>Facilities</th>
                <th>Facilities Match</th>
                <th>Book<th>
            </tr>
            <!--Iterates through the rooms in the findRooms array-->
            {% for findRoom in findRooms %}
                <tr>
                    <td>{{ findRoom.room.roomName }}</td>
                    <td>{{ findRoom.period.periodName }}</td>
                    <td>
                        <!--Iterates through the facilities in the current room in the findRooms array-->
                        {% for facility in findRoom.facilities %}
                            <span class="label label-default">{{ facility.facilityName }}</span>
                        {% endfor %}    
                    </td> 
                    <td>{{ findRoom.percentageMatch }}%</td>
                    <!--boolean value for if a room is booked or not-->
                    {% if findRoom.isBooked > 0 %}
                        <td><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    {% else %}
                        <!--TODO-->
                        <td><a href="#" onclick="doBook(this, '{{ bookingDate|date }}', '{{ findRoom.room.roomID }}', '{{ findRoom.period.periodID }}' )"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        </div>
    <div class="panel-footer">
    </div>
</div>
</div>
<script>
function doBook(aObj, bookingDate, roomID, periodID) {

    csrftoken = getCookie('csrftoken');
    $.post("/booking/bookARoom",
    {
        csfrmiddlewaretoken: csrftoken,
        bookingDate: bookingDate,
        periodID: periodID,
        roomID: roomID
    },
    function(data, status){
        $(aObj).parent().html('<span class="glyphicon glyphicon-remove" aria-hidden="true">');
    });
}
</script>

{% endblock %}