<!--Carries over the previous HTML from base_generic.html-->
{% extends "base_generic.html" %}
<!--Fills the content block from base_generic.html-->
{% block content %}
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading"><h1 class="text-center">My Bookings</h1></div>
        <div class="panel-body">

            <table class="table" style="width:100%">
                <tr>
                    <th>Date</th>
                    <th>Room</th>
                    <th>Period</th>
                </tr>
                <!--Iterates through the users bookings in the myBookings array-->
                {% for myBooking in myBookings %}
                    <tr>
                        <td>{{myBooking.date }}</td> 
                        <td>{{myBooking.room}}</td>
                        <td>{{ myBooking.period }}</td> 
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>
{% endblock %}