{% extends "base_generic.html" %}

{% block content %}

    <h1>My Bookings</h1>

    <table class="table" style="width:100%">
        <tr>
            <th>Date</th>
            <th>Room</th>
            <th>Period</th>
        </tr>
        {% for myBooking in myBookings %}
            <tr>
                <td>{{myBooking.bookDate }}</td> 
                <td>{{myBooking.room}}</td>
                <td>{{ myBooking.period }}</td> 
            </tr>
        {% endfor %}
    </table>

{% endblock %}